$first-primary-color: hsl(233, 26%, 24%);
$second-primary-color: hsl(136, 65%, 51%);
$third-primary-color: hsl(192, 70%, 51%);

$first-neutral-color: hsl(233, 8%, 62%);
$second-neutral-color: hsl(220, 16%, 96%);
$third-neutral-color: hsl(0, 0%, 98%);
$fourth-neutral-color: hsl(0, 0%, 100%);
