/// mixin for media queries
@mixin mobile {
    @media (max-width: 374px) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: 375px) and (max-width: 767px) {
        @content;
    }
}
@mixin small {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}
@mixin medium {
    @media (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}
@mixin large {
    @media (min-width: 1200px) and (max-width: 1439px) {
        @content;
    }
}
@mixin extra-large {
    @media (min-width: 1440px) {
        @content;
    }
}
@mixin breakpoints($points...) {
    @each $point in $points {
        @if ($point == mobile) {
            @include mobile {
                @content;
            }
        } @else if($point == tablet) {
            @include tablet {
                @content;
            }
        } @else if($point == small) {
            @include small {
                @content;
            }
        } @else if($point == medium) {
            @include medium {
                @content;
            }
        } @else if($point == large) {
            @include large {
                @content;
            }
        } @else if($point == extra-large) {
            @include extra-large {
                @content;
            }
        }
    }
}

// Mixin For Flex
@mixin flex-it($direction, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
    flex-wrap: $wrap;
}
